<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /aula
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /aula/index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /aula/index.php
</IfModule>